
<div class="card text-center" class="div5">
    <div class="card-header">
      Featured
    </div>
    <div class="card-body">
      <h5 class="card-title">Silky Milky the Cake & Chocolate Gallery</h5>
      <a href="https://www.instagram.com/silkymilkythecakegallery/">
       <img src="assets/instalogo.png" height="30px" width="30px" text-align="text-center" ></a>

       <a href="https://www.facebook.com/SilkymilkythecakeAndchocolategallery-100957591694727/">
       <img src="assets/facebooklogo.png" height="30px" width="30px" text-align="text-center"> </a>
      <p class="card-text">HOME, WEEKLY CUPCAKES, FIND A STORE, CATERING, GALLERY, ABOUT US, ACCESSIBILITY, SITE MAP 
     
    </div>
    <div class="card-footer text-muted">
     
    </div>
  </div>