<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="assets/slider1.jpg" class="d-block w-100" alt="..." height="800px">
    </div>
    <div class="carousel-item">
      <img src="assets/slider2.jpeg" class="d-block w-100" alt="..." height="800px">
    </div>
    <div class="carousel-item">
      <img src="assets/slider5.jpg" class="d-block w-100" alt="..." height="800px">
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
<br>
<br>

 
<div style="text-align: center;" >
  <img src="assets/deliveryboy.jpg"  height="300px" width="600px">
</div>

<div style="padding-left: 70px;
            padding-right: 70px;">
<h1 align="center"><b><i> Welcome! </i></b></h1>
<p style="font-size:40px;">
 Choose your favourite desserts from our select menu of affordable and delightful small cakes and gift – dessert boxes below.
You can make small changes and add accessories to your favourite items.
*** COVID-19 Restrictions Alert:
Due to the impact of stage 4 restrictions, there are major shipping delays on some of our supplies. For this reason, we may substitute when necessary decorative items pictured on the product page for other similar items. Fresh flowers are subject to strict availability on the day and may be replaced by crafted flowers or other floral available. Thank you for your support and understanding during this difficult time.
</p>
</div>
<br>
<div style="text-align: center;">
<img src="assets/chocolate_cupcakes.png" height="200px" width="200px" >
<img src="assets/ppp.png" height="200px" width="200px" >
<img src="assets/Donuts.png" height="200px" width="200px" >
<img src="assets/MangoCake.png" height="200px" width="200px" >
</div>


<div class="row">

    
  <div class="col-lg-3 text-center" *ngFor="let i of products">
   
    <a routerLink="/product-detail/{{i._id}}">
              <h2>
                  {{i.name}}
              </h2>

              <img width="200px" height="200px" src="http://localhost:3005/{{i.productImagePath}}" alt="">
              <p>
               Descrrption:   {{i.description}}
              </p>

              <h1>
                Price : {{i.price}} rs.
              </h1>
              <h1>
                Stock : {{i.stock}} Qty.
              </h1>
      </a>
            <hr>
  </div>
  

</div>